body {
  background-color: #212529;
}

.chart-container {
  position: relative;
  width: 80%;
  height: 400px;
  padding: 30px;
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .chart-container {
    height: 200px;
  }
}

img {
  width: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

@media (max-width: 600px) {
  img {
    width: 50px;
  }
}